@font-face {
    font-family: prefson-1;
    src: url(../fonts/prefson-1.woff2);
}

@font-face {
    font-family: prefson-2;
    src: url(../fonts/prefson-2.woff2);
}

@font-face {
    font-family: pbold-1;
    src: url(../fonts/pbold-1.woff2);
}